In [287]:
import pandas as pd

In [288]:
df = pd.read_csv("World_population(2020).csv")

In [289]:
import numpy as np

In [290]:
df2 = df

In [291]:
df.head()

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,Afghanistan,38928346,2.33%,886592,60,652860,-62920.0,4.6,18,25%,0.50%
1,Albania,2877797,-0.11%,-3120,105,27400,-14000.0,1.6,36,63%,0.04%
2,Algeria,43851044,1.85%,797990,18,2381740,-10000.0,3.1,29,73%,0.56%
3,American Samoa,55191,-0.22%,-121,276,200,NaN,N.A.,N.A.,88%,0.00%
4,Andorra,77265,0.16%,123,164,470,NaN,N.A.,N.A.,88%,0.00%

In [292]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country (or dependency)  235 non-null    object
 1   Population (2020)        235 non-null    int64
 2   Yearly Change            235 non-null    object
 3   Net Change               235 non-null    int64
 4   Density (P/Km²)          235 non-null    int64
 5   Land Area (Km²)          235 non-null    int64
 6   Migrants (net)           201 non-null    float64
 7   Fert. Rate               235 non-null    object
 8   Med. Age                 235 non-null    object
 9   Urban Pop %              235 non-null    object
 10  World Share              235 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 20.3+ KB

In [293]:
df1 = df

In [294]:
df1.duplicated(subset=None,keep='first').sum() #2. Duplicate Data : As you can see there's no duplicated rows in my database.

0

In [295]:
df.dtypes #3 Data Types

Country (or dependency)     object
Population (2020)            int64
Yearly Change               object
Net Change                   int64
Density (P/Km²)              int64
Land Area (Km²)              int64
Migrants (net)             float64
Fert. Rate                  object
Med. Age                    object
Urban Pop %                 object
World Share                 object
dtype: object

In [296]:
df1 = df1.replace("N.A.", np.nan)

In [297]:
df1['World Share']=df1['World Share'].str.replace("%", "")

In [298]:
df1['Yearly Change']=df1['Yearly Change'].str.replace("%", "")

In [299]:
df1['Urban Pop %']=df1['Urban Pop %'].str.replace("%", "")

In [300]:
df1.head()

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,Afghanistan,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.50
1,Albania,2877797,-0.11,-3120,105,27400,-14000.0,1.6,36,63,0.04
2,Algeria,43851044,1.85,797990,18,2381740,-10000.0,3.1,29,73,0.56
3,American Samoa,55191,-0.22,-121,276,200,NaN,NaN,NaN,88,0.00
4,Andorra,77265,0.16,123,164,470,NaN,NaN,NaN,88,0.00

In [301]:
df1['Fert. Rate']=df1['Fert. Rate'].astype(float)

In [302]:
df1['World Share']=df1['World Share'].astype(float)

In [303]:
df1['Yearly Change']=df1['Yearly Change'].astype(float)

In [304]:
df1['Urban Pop %']=df1['Urban Pop %'].astype(float)

In [305]:
df1.dtypes #3 Updated data types

Country (or dependency)     object
Population (2020)            int64
Yearly Change              float64
Net Change                   int64
Density (P/Km²)              int64
Land Area (Km²)              int64
Migrants (net)             float64
Fert. Rate                 float64
Med. Age                    object
Urban Pop %                float64
World Share                float64
dtype: object

In [306]:
df2.isna().sum() #4 Missing Data

Country (or dependency)     0
Population (2020)           0
Yearly Change               0
Net Change                  0
Density (P/Km²)             0
Land Area (Km²)             0
Migrants (net)             34
Fert. Rate                  0
Med. Age                    0
Urban Pop %                 0
World Share                 0
dtype: int64

In [307]:
df2.shape[0] - df1.dropna().shape[0]

41

In [308]:
df_mean = df["Migrants (net)"].mean()

In [309]:
df_mean

6.2835820895522385

In [316]:
df2["Migrants (net)"] = df1["Migrants (net)"].fillna(value = df_mean)

In [317]:
df2.isna().sum() #4 There we go there's no missing data anymore

Country (or dependency)    0
Population (2020)          0
Yearly Change              0
Net Change                 0
Density (P/Km²)            0
Land Area (Km²)            0
Migrants (net)             0
Fert. Rate                 0
Med. Age                   0
Urban Pop %                0
World Share                0
Urban Pop %                0
dtype: int64

In [318]:
Q1 = df['Migrants (net)'].quantile(0.25) #5 Outliers
Q3 = df['Migrants (net)'].quantile(0.75)
IQR = Q3-Q1
IQRMult = 1.5*IQR

In [319]:
IQR

13508.0

In [320]:
IQRMult

20262.0

In [321]:
MigrantOutliers = pd.concat([df.loc[df['Migrants (net)'] > (Q3 + IQRMult)], df.loc[df['Migrants (net)'] < (Q1 - IQRMult)]])

In [323]:
MigrantOutliers.shape

(69, 12)

In [324]:
df2 = pd.concat([df2,MigrantOutliers]).drop_duplicates(keep=False)

In [325]:
df2.shape #5 New updated dataframe

(166, 12)

In [326]:
df1.shape #5 Old dataframe

(235, 11)

In [327]:
MigrantOutliers.head()

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share,Urban Pop %
11,Australia,25499884,1.18%,296686,3,7682300,158246.0,1.8,38,86%,0.33%,86.0
12,Austria,9006398,0.57%,51296,109,82409,65000.0,1.5,43,57%,0.12%,57.0
15,Bahrain,1701575,3.68%,60403,2239,760,47800.0,2,32,89%,0.02%,89.0
19,Belgium,11589623,0.44%,50295,383,30280,48000.0,1.7,42,98%,0.15%,98.0
36,Canada,37742154,0.89%,331107,4,9093510,242032.0,1.5,41,81%,0.48%,81.0

In [329]:
df2.to_csv("World_Population_cleaned.csv", index=False)

In [330]:
World_cleaned = pd.read_csv("World_Population_cleaned.csv")

In [331]:
World_cleaned.head()

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share,Urban Pop %
0,Albania,2877797,-0.11%,-3120,105,27400,-14000.000000,1.6,36,63%,0.04%,63.0
1,Algeria,43851044,1.85%,797990,18,2381740,-10000.000000,3.1,29,73%,0.56%,73.0
2,American Samoa,55191,-0.22%,-121,276,200,6.283582,N.A.,N.A.,88%,0.00%,88.0
3,Andorra,77265,0.16%,123,164,470,6.283582,N.A.,N.A.,88%,0.00%,88.0
4,Angola,32866272,3.27%,1040977,26,1246700,6413.000000,5.6,17,67%,0.42%,67.0

In [335]:
World_cleaned.isna().sum()

Country (or dependency)    0
Population (2020)          0
Yearly Change              0
Net Change                 0
Density (P/Km²)            0
Land Area (Km²)            0
Migrants (net)             0
Fert. Rate                 0
Med. Age                   0
Urban Pop %                0
World Share                0
Urban Pop %                0
dtype: int64

In [336]:
World_cleaned.duplicated(subset=None, keep='first').sum()

0

In [337]:
World_cleaned.shape

(166, 12)

In [338]:
World_cleaned.dtypes

Country (or dependency)     object
Population (2020)            int64
Yearly Change               object
Net Change                   int64
Density (P/Km²)              int64
Land Area (Km²)              int64
Migrants (net)             float64
Fert. Rate                  object
Med. Age                    object
Urban Pop %                 object
World Share                 object
Urban Pop %                float64
dtype: object